.heading {
    height: 75vh;
    padding-top: 100px;
    background: url(../images/landing.jpg) no-repeat top;
    background-size: cover;
    background-position: center center;
}

.calmerIntro {
    background-color: rgba(68, 68, 68, 0.5);
    color: white;
    float: left;
    width: 52%;
    height: 45%;
    border-radius: 10px;
}

.searchcalmer {
    margin-left: 0px;
}

#searchbar {
    width: 495px;
    height: 55px;
    padding: 0 15px;
    float: left;
    border: none;
    border-radius: 10px 0 0 10px;
}

#searchbar::placeholder {
    font-family: 'Poppins', sans-serif;
}

#searchbutton {
    width: 95px;
    height: 55px;
    padding: 10px;
    float: left;
    border: none;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(0deg, rgba(205, 43, 11, 11) 0%, rgba(205, 43, 11, 11) 100%);
    color: white;
}

#searchsite {
    margin: 15px 0 0 0;
}

.popular {
    display: flex;
    justify-content: space-between;
    /*clear float*/
    clear: left;
}

.popularcategories {
    max-width: 120px;
    height: 40px;
    margin: 10px 0 0 0;
    text-align: center;
}

.popularcategories button {
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}

.secondary-nav {
    display: flex;
    justify-content: center;
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    box-shadow: 1px 1px 2px 1px rgba(182, 182, 182, 0.3);
}

.secondary-nav-item {
    margin: 0 30px;
    line-height: 50px;
    align-items: center;
}

main {
    padding: 0 10%;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Float three cards side by side */

.service-card {
    float: left;
    width: 395px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(182, 182, 182, 0.3);
    margin-bottom: 20px;
}

.service-card img {
    width: 100%;
    height: 225px;
    border-radius: 5px 5px 0 0;
}

.service-card-footer {
    padding: 0 15px;
}